body {
  padding-top: 70px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.tracker-form {
  max-width: 800px;
  margin: 0 auto;
}

.tracker-heading {
  padding-bottom: 2em;
}

.form-row {
  padding: 10px 16px;
}

.btn.active {
  font-weight: bold;
}

.goal {
  font-size: 3ex;
  vertical-align: bottom;
}
